body {
    font-family: sans-sherif;
    color:gray;
    font-weight:normal;
}

#header{
    text-shadow: -1px 1px 1px black;
    color: rgb(39, 39, 199);
}

#subheader {
    letter-spacing: 0.3em; 
    text-transform: uppercase;
    color: rgb(22, 143, 183);
}

#intro:first-line{
    font-weight: bold;
    font-family: sherif;
    color: black;
}

#intro a:link {
    text-decoration: none;
    color: blue;
}

#intro a:visited {
    color: black;
}

[id $= "header2"]{
    text-transform: capitalize;
    color: blue;
}


[id *="oot"] {
    text-align: right;
    font-style: italic;
}
[attr]
{
    line-height: 1.4em;
    text-align:justify;
}