@import url("table.css");
@import url("typography.css");
@import url("../CHAPTER_15/960-Grid-System-master/code/css/960_12_col.css");
body 
{
    background-color: bisque;
    margin-left: auto;
    font-size: 10px;
}
div.maincontent
{
    background-color:azure;
    border: solid red;
    margin-left: auto;
    margin-right: auto;
    height:  400px;
    padding: inherit;
}