.containing 
{
    overflow: auto;
    width: 2000px;
    border: solid red;
}
h1 , h2 , h3 
{
    font-family: monospace;
    font-size:50px;
    color: brown;
    background-color: antiquewhite;
}
.column1 , .column2
{
    width: 300px;
    float: left;
    margin: 10px;
    padding: 10px;
}
.column3 
{
    width: 250px;
    float: left;
    margin: 50px;
    position: relative;
    bottom: 40px;
}
