h1 
{
    font-family: monospace;
    background-color: aliceblue;
    font-size: 55px;
}
p 
{
    width: 150px;
    padding:10px;
    background-color: antiquewhite;
    float: left;
}
#containing
{
    border: 10px solid red;
    background-color: beige;
    overflow: auto;
    width: 50%;
}