body 
{
    background-color: bisque;
    margin-left: auto;
    font-size: 10px;
}
div.maincontent
{
    background-color:azure;
    border: solid red;
    margin-left: auto;
    margin-right: auto;
    height:  400px;
    padding: inherit;
}