
p 
{
    width: 450px;
    position: relative;
    left: 50px;
    bottom: 60px;
    z-index: 5;
}
h1 
{
    z-index: 10;
    background-color: blanchedalmond;
    position: relative;
}
p#relative
{
    position: relative;
    top: 100px;
    color: blue;
    z-index: 2;
}
#box1 
{
    width: 200px;
    height: 200px;
    background-color: blue;
    border: solid blue;
    position: relative;
    z-index: 2;
}
#box2 
{
    width:200px;
    height: 200px;
    border: solid red;
    background-color: red;
    position: relative;
    bottom: 100px;
    z-index: 1;
}